.bg-light {
  background-color: black !important;
}

.navbar {
  margin: 0;
  padding: 10px 0 10px 0;
}

.nav-link {
  color: white !important;
  margin-left: 40px;
}

@media (max-width: 992px) {
  .nav-link {
    text-align: center;
    margin: 0;
    width: 100%;
  }
}

.fas.fa-shopping-bag {
  font-size: 24px;
}

.nav-link:hover {
  background-color: #1f1f1f;
}

a.nav-link.active {
  font-weight: bold;
  background-color: #1f1f1f;
}

#navbarSupportedContent {
  margin-right: 50px;
}

.navbar-toggler-icon {
  color: white;
  font-size: 28px;
  margin-top: 10px;
}

.navbar-brand {
  font-size: 28px;
  color: white !important;
  margin-left: 50px;
}

html,
body {
  margin: 0;
  height: 100%;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  background-color: #1f1f1f;
}

.wrapper {
  -webkit-box-flex: 1;
      -ms-flex: 1 0 auto;
          flex: 1 0 auto;
}

footer {
  font-size: 16px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-negative: 0;
      flex-shrink: 0;
  background-color: black !important;
  color: white;
}

.footerIcons {
  font-size: 30px;
  display: block;
  margin: auto;
}

main {
  width: 70%;
  margin: auto;
  margin-top: 100px;
  max-width: 1500px;
}

@media (max-width: 992px) {
  main {
    width: 90%;
  }
}

body.homeBody {
  background-color: #1f1f1f;
}

h1.homeHeading {
  font-size: 38px;
  color: white;
  margin-top: 15px;
}

.introText {
  color: white;
}

.heroImg {
  -o-object-fit: cover;
     object-fit: cover;
  width: 100%;
  max-height: 500px;
}

.featuredHeading {
  color: white;
  font-size: 30px;
  margin-top: 40px;
}

.featuredProducts {
  max-width: 1500px;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr 1fr;
      grid-template-columns: 1fr 1fr 1fr;
  margin: auto;
  gap: 3px;
}

@media (max-width: 992px) {
  .featuredProducts {
    -ms-grid-columns: 1fr 1fr;
        grid-template-columns: 1fr 1fr;
  }
}

@media (max-width: 600px) {
  .featuredProducts {
    -ms-grid-columns: 1fr;
        grid-template-columns: 1fr;
  }
}

.featuredProduct {
  background-color: white;
}

.featuredProduct:hover {
  cursor: pointer;
}

.featuredProduct img {
  -o-object-fit: cover;
     object-fit: cover;
  width: 40%;
  height: 150px;
  float: left;
}

.featuredPrice {
  float: right;
  text-align: end;
  width: 40%;
  margin-right: 5%;
}

.featuredTitle {
  margin-top: 35px;
  float: right;
  text-align: end;
  width: 40%;
  margin-right: 5%;
}

.allProducts a {
  color: yellow;
  text-decoration: none;
  font-size: 26px;
  border: 4px solid yellow;
  padding: 6px;
  border-radius: 15px;
  text-align: center;
}

.allProducts {
  margin-top: 40px;
  margin-bottom: 40px;
}

.productsHeader {
  color: white;
}

.searchProducts {
  width: 250px;
}

.searchProducts::-webkit-input-placeholder {
  font-size: 14px;
}

.searchProducts:-ms-input-placeholder {
  font-size: 14px;
}

.searchProducts::-ms-input-placeholder {
  font-size: 14px;
}

.searchProducts::placeholder {
  font-size: 14px;
}

.productsContainer {
  margin-top: 10px;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[4];
      grid-template-columns: repeat(4, 1fr);
  gap: 40px;
}

@media (max-width: 992px) {
  .productsContainer {
    -ms-grid-columns: (1fr)[2];
        grid-template-columns: repeat(2, 1fr);
  }
}

.product {
  background-color: white;
  border: 1px solid black;
}

.product img {
  -o-object-fit: cover;
     object-fit: cover;
  width: 100%;
  height: 60%;
}

.productTitle {
  font-size: 16px;
  margin-left: 10%;
  margin-top: 20px;
}

.productPrice {
  font-size: 16px;
  margin-left: 10%;
}

.productButtons {
  text-decoration: none;
  margin-left: 10%;
  color: white;
  position: relative;
}

.productButtons:hover {
  text-decoration: none;
  color: white;
}

#cartButton {
  background-color: yellow;
  width: 100%;
}

#moreButton {
  background-color: #1f1f1f;
}

.loginHeader {
  color: white;
  text-align: center;
}

.logInText {
  color: white;
  margin-top: 20px;
  width: 400px;
  margin-left: 100px;
}

@media (max-width: 992px) {
  .logInText {
    width: 80%;
    margin-left: 10%;
  }
}

.loginMain {
  margin-top: 150px;
}

#loginForm {
  background-color: #2b2b2b;
  color: white;
  border-radius: 1em;
  width: 600px;
  margin: auto;
  padding: 3em 0 5em 0;
}

@media (max-width: 992px) {
  #loginForm {
    width: 80%;
  }
}

#loginForm label {
  margin-top: 1%;
  font-size: 20px;
  margin-left: 100px;
}

@media (max-width: 992px) {
  #loginForm label {
    width: 100%;
    margin-left: 10%;
  }
}

#loginForm input {
  width: 400px;
  opacity: 0.5;
}

@media (max-width: 992px) {
  #loginForm input {
    width: 80%;
  }
}

.formError {
  color: red;
  margin-left: 100px;
  display: none;
  width: 400px;
}

@media (max-width: 992px) {
  .formError {
    width: 80%;
    margin-left: 10%;
  }
}

#loginForm button {
  margin-left: 100px;
  margin-top: 1.5em;
  width: 400px;
  padding: 0.5em;
  border: none;
  font-size: 22px;
  background-color: yellow;
  color: #2b2b2b;
  font-weight: bold;
}

@media (max-width: 992px) {
  #loginForm button {
    width: 80%;
    margin-left: 10%;
  }
}
/*# sourceMappingURL=style.css.map */