.bg-light {
  background-color: getColour(nav-footer-colour) !important;
}

.navbar {
  margin: 0;
  padding: 10px 0 10px 0;
}

.nav-link {
  color: white !important;
  margin-left: 40px;

  @media (max-width: 992px) {
    text-align: center;
    margin: 0;
    width: 110%;
    margin-top: 10px;
  }
}

.fas.fa-shopping-bag {
  font-size: 24px;
}

.nav-link:hover {
  background-color: getColour(primary-colour);
}

a.nav-link.active {
  font-weight: bold;
  background-color: getColour(primary-colour);
}

#navbarSupportedContent {
  margin-right: 50px;
}

.navbar-toggler-icon {
  color: white;
  font-size: 28px;
  margin-top: 10px;
}

.navbar-brand {
  font-size: 28px;
  color: white !important;
  margin-left: 50px;
  font-family: $brand-font;
  @media (max-width: 992px) {
    margin: 0;
    margin-left: 5%;
  }
}
