.bg-light {
  background-color: black !important;
}

.navbar {
  margin: 0;
  padding: 10px 0 10px 0;
}

.nav-link {
  color: white !important;
  margin-left: 40px;
}

#navbarSupportedContent {
  margin-right: 50px;
}

.navbar-toggler-icon {
  color: white;
  font-size: 28px;
  margin-top: 10px;
}

.navbar-brand {
  font-size: 28px;
  color: white !important;
  margin-left: 50px;
}

h1 {
  margin-top: 100px;
}
