$colours: (
  primary-colour: #e92569,
  secondary-colour: #767676,
  header-colour: #efefef,
  title-colour: #0a0a0a,
  url-colour: #c7c7c7,
);

@function getColour($colour) {
  @return map-get($colours, $colour);
}
